@media screen and (orientation : portrait) and (max-device-width: 480px),
screen and (orientation : landscape) and (max-device-height: 480px) {
  .container {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .options {
    padding-bottom: .5em;
  }
}

@media screen and (orientation : portrait) and (max-device-width: 480px) {
  .options .row {
    flex-direction: column;
  }

  .options .row .col {
    padding-left: .25em !important;
    padding-right: .25em !important;
  }

  .info {
    font-size: 75%;
    width: 300px;
    height: 400px;
  }
}

@media screen and (orientation : landscape) and (max-device-height: 480px) {
  .info {
    font-size: 75%;
    width: 400px;
    height: 300px;
  }
}
