<html>
<head>
  <title>EAD Basic</title>

  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.80/jsrender.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&v=3&key="></script>
  <script type="text/javascript" src="https://npmcdn.com/geodesy@1.1.0/dms.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>

  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/mobile.css" />
  <link rel=" stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

</head>

<body>

<div class="container">
<div class="options">
  <div class="row">
    <div class="col">
      <select id="country">
        <option>Any Country</option>
      </select>
    </div>
    <div class="col">
      <input type="text" id="filter" placeholder="Name, ICAO" list="filter_options" />
      <datalist id="filter_options"></datalist>
    </div>
  </div>
</div>
<div class="map"></div>
</div>

<script type="text/x-jsrender" id="infoWindow">
<div class="info">
  <h1>{{html:ICAO}} - {{html:Name}}</h1>
  <h2>{{html:City}}, {{html:Country}}</h2>
  <h3 class="location">
    <span class="lat">{{lat:Lat}}</span>
    <span class="lon">{{lon:Lon}}</span>
    <span class="elevation">{{number:Alt}} ft</span>
  </h3>
  {{if error}}
    <div class="error">{{html:error}}</div>
  {{else}}
    <div class="tabs">
      <ul>
        <li><a href="#tabs-airport">Airport</a></li>
        <li><a href="#tabs-sidstar">SID/STAR</a></li>
        <li><a href="#tabs-approach">Appr</a></li>
        <li><a href="#tabs-other">Other</a></li>
        <li><a href="#tabs-wx">WX</a></li>
      </ul>
      <div id="tabs-airport" class="documents">
        <h3>Charts</h3>
        {{for aerodrome tmpl="#document" /}}
      </div>
      <div id="tabs-sidstar" class="documents">
        <h3 title="Standard Instrument Departure">SID</h3>
        {{props getRunways(sid) tmpl="#runwayDocuments" /}}
        <h3 title="Standard Terminal Arrival Route">STAR</h3>
        {{props getRunways(star) tmpl="#runwayDocuments" /}}
      </div>
      <div id="tabs-approach" class="documents">
        {{props getRunways(approach) tmpl="#runwayDocuments" /}}
      </div>
      <div id="tabs-other" class="documents">
        {{for other tmpl="#document" /}}
      </div>
      <div id="tabs-wx">
        {{for metar tmpl="#metar" /}}
      </div>
    </div>
  {{/if}}
</div>
</script>

<script type="text/x-jsrender" id="runwayDocuments">
  <div class="group">
    <div class="title">Runway {{html:key}}</div>
    {{for prop tmpl="#document" /}}
  </div>
</script>

<script type="text/x-jsrender" id="document">
  <div>
    <a href="{{attr:Uri}}" title="{{attr:Name}}" target="_blank">{{html:Title}}</a><br>
    <span class="effective" title="Effective from">{{date:Effective}}</span>
  </div>
</script>

<script type="text/x-jsrender" id="metar">
  {{for Data}}
  <h3>METAR report at {{:Time.toUTCString()}}</h3>
  <div>
      <dl>
        {{if Temp}}
          <dt>Temp</dt>
          <dd>
            {{:Temp}} &deg;C
            {{if DewPoint}}
              (Dew Point: {{:DewPoint}} &deg;C)
              <!-- TODO: Implement humidity -->
            {{/if}}
            {{if MinTemp24hr && MaxTemp}}
              <br />6 hr range: {{:MinTemp}} &deg;C to {{:MaxTemp}} &deg;C
            {{/if}}
            {{if MinTemp24hr && MaxTemp24hr}}
             <br />24 hr range: {{:MinTemp24hr}} &deg;C to {{:MaxTemp24hr}} &deg;C
            {{/if}}
          </dd>
        {{/if}}

        <dt>Wind</dt>
        <dd>
          {{if WindSpeed}}
            {{:WindDirection}} &deg; at {{:WindSpeed}} kts
            {{if WindGust}}
              gusting {{:WindGust}} kts
            {{/if}}
          {{else}}
            Calm
          {{/if}}
        </dd>

        <dt>Visibility</dt>
        <dd>
          {{:Visibility}} miles
          {{if VerticalVisibility}}, {{number:VerticalVisibility}} ft vertically{{/if}}
        </dd>

        <dt>Altimeter</dt>
        <dd>{{:Altimeter.toFixed(2)}} inHg, {{:(Altimeter * 0.0254 * 9.806 * 13593 / 100).toFixed()}} mb</dd>

        {{if QualityControlFlags}}
        <dt title="Quality Control flags">QC flags</dt>
        <dd>
          {{props QualityControlFlags}}
          {{html:key}}<br />
          {{/props}}
        </dd>
        {{/if}}

        {{if WXText}}
          <dt>Weather</dt>
          <dd>{{html:WXText}}</dd>
        {{/if}}

        {{if SkyCondition.length}}
        <dt>Clouds</dt>
        <dd>
          {{for SkyCondition}}
          <div>
            {{:CoverName}}
            {{if Base}}at {{number:Base}} ft AGL{{/if}}
            {{if Type}}({{html:Type}}){{/if}}
          </div>
          {{/for}}
        </dd>
        {{/if}}

        {{if FlightCategory}}
        <dt>Flight category</dt>
        <dd>{{html:FlightCategory}}</dd>
        {{/if}}
      </dl>
    </div>
{{/for}}
</script>

<script type="text/javascript">
$(document).ready(function () {
  var Airport = function (args) {
    var resp = {
      get aerodrome() {
        return $.grep(this.documents, function (item) {
          return item.Title.match(/(Aerodrome|Parking|Docking)/i);
        });
      },

      get approach() {
        return $.grep(this.documents, function (item) {
          return (item.Title.indexOf("IAC") != -1) || item.Title.match(/Approach/i);
        });
      },

      get hasDocuments() {
        return this.documents && this.documents.length;
      },

      get other() {
        return $.grep(this.documents, function (item) {
          return !(
            item.Title.match(/SID|STAR|IAC/) ||
            item.Title.match(/Aerodrome|Parking|Docking|Approach/i)
            );
        });
      },

      get sid() {
        return $.grep(this.documents, function (item) {
          return item.Title.match(/SID/);
        });
      },

      get star() {
        return $.grep(this.documents, function (item) {
          return item.Title.match(/STAR/);
        });
      },

      getRunways: function(list) {
        var resp = {};

        var re = /RWY ([0-9]{1,2}[^\s]*?)/;
        $.each(list, function (index, item) {
          var name = item.Title.match(re);
          name = name ? name[1] : "Other";
          var list = resp[name];
          if (!list) {
            list = resp[name] = [];
          }
          list.push(item);
        });

        return resp;
      },
    };

    $.extend(resp, args);

    resp.Position = new google.maps.LatLng(resp.Lat, resp.Lon);

    return resp;
  };

  var airports = [];
  var map = null;
  var markerCluster = null;
  var infoWindow = null;

  var timeouts = {
    filter: null,
    map: null,
  };

  var initialize = function () {
    var config = JSON.parse(window.localStorage.getItem("mapConfig") || "{}");

    map = new google.maps.Map($(".map")[0], {
      center: config.center || { lat: 0, lng: 0 },
      zoom: config.zoom || 6,
      mapTypeId: config.mapTypeId || 'terrain'
    });
    markerCluster = new MarkerClusterer(map, null, { imagePath: "images/m" });

    map.addListener("click", removeFocus);
    map.addListener("drag", removeFocus);

    map.addListener("maptypeid_changed", function (e) {
      var config = JSON.parse(window.localStorage.getItem("mapConfig") || "{}");
      config.mapTypeId = map.getMapTypeId();
      window.localStorage.setItem("mapConfig", JSON.stringify(config));
    });

    $(window).on("unload", function (e) {
      var config = {
        center: map.getCenter(),
        zoom: map.getZoom(),
        mapTypeId: map.getMapTypeId()
      };

      window.localStorage.setItem("mapConfig", JSON.stringify(config));
    });

    getAirports()
    .then(function () {
      return populateCountries();
    }).then(function () {
    });

    map.addListener("bounds_changed", function (e) {
      if (timeouts.map) {
        window.clearTimeout(timeouts.map);
        timeouts.map = null;
      }
      timeouts.map = window.setTimeout(function () {
        onMapBoundsChanged(e);
        timeouts.map = null;
      }, 250);
    });

    $("#filter").on("change keyup", function (e) {
      if (timeouts.filter) {
        window.clearTimeout(timeouts.filter);
        timeouts.filter = null;
      }
      timeouts.filter = window.setTimeout(function () {
        onFilterChanged(e);
        timeouts.filter = null;
      }, 500);
    });
  };

  var getAirports = function (remote) {
    var q = $.Deferred();

    $.get("../api/OpenFlights/GetAirports")
    .done(function (response) {
      airports = [];
      var re = /[A-Z]{4}/;
      $.each(response, function (index, item) {
        if (item.ICAO && item.ICAO.match(re)) {
          airports.push(new Airport(item));
        }
      });
      q.resolve();
    });

    return q.promise();
  };

  var getBounds = function (list) {
    // Calculate the center (average)
    var center = { lat: 0, lng: 0 };
    $.each(list, function (index, item) {
      center.lat += item.Lat;
      center.lng += item.Lon;
    });
    if (list.length !== 0) {
      center = new google.maps.LatLng(center.lat / list.length, center.lng / list.length);

      // Now calculate the average distance
      var avDistance = 0;
      $.each(list, function (index, item) {
        item.DistanceFromCentre = google.maps.geometry.spherical.computeDistanceBetween(center, item.Position);
        avDistance += item.DistanceFromCentre;
      });
      avDistance /= list.length;

      // Sort in ascending order - by distance from center to find IQR
      list.sort(function (a, b) {
        return a.DistanceFromCentre - b.DistanceFromCentre;
      });
      var iqr = list[Math.floor(list.length / 4)].DistanceFromCentre;

      // Finally flag each item whether it's to be included in the default map using 10 * IQR as the cut-off
      $.each(list, function (index, item) {
        item.Display = item.DistanceFromCentre <= (10 * iqr);
      });
    }

    var bounds = new google.maps.LatLngBounds();
    $.each(list, function (index, item) {
      if (item.Display)
        bounds.extend(item.Position);
    });

    return bounds;
  };

  var getFilteredAirports = function (source) {
    source = source || airports;

    var country = $("#country").val() || "";
    var filter = $("#filter").val() || "";

    var list;
    list = $.grep(source, function (item) {
      return (item.Country == country) || (country === "");
    });

    if (filter) {
      var re = new RegExp(filter, "i");
      list = $.grep(list, function (item) {
        return item.Name.match(re) || item.ICAO.match(re);
      });
    }

    return list;
  };

  var getMETAR = function (params) {
    var data = {
    };

    data = $.extend(data, params);

    var q = $.Deferred();

    $.ajax(
      "../api/AWC/GetMETAR",
      {
        method: "POST",
        traditional: true,
        data: data
      }
    )
    .done(function (response, status, request) {
      $.each(response.Data, function (index, item) {
        item.Time = new Date(item.Time);
      });

      q.resolve(response);
    })
    .fail(function (error) {
      q.reject(error);
    });

    return q;
  };

  var onCountryChanged = function (e) {
    var country = $("#country").val() || "";
    var list = $.grep(airports, function (item) {
      return (item.Country == country) || (country === "");
    });

    var datalist = $("#filter_options");
    datalist.find("option").remove();
    $.each(list, function (index, item) {
      $("<option>", {
        value: item.Name,
      })
      .appendTo(datalist);
    });

    onFilterChanged();
    window.localStorage.setItem("country", country);
  };

  var onFilterChanged = function (e) {
    var list = getFilteredAirports();

    // Don't zoom if either all airports or no airports are selected
    if ((list.length == 0) || (list.length == airports.length)) {
      onMapBoundsChanged();
      return;
    }

    var bounds = getBounds(list);

    if (list.length == 1) {
      map.setCenter({ lat: list[0].Lat, lng: list[0].Lon });
      map.setZoom(10);
    } else {
      map.fitBounds(bounds);

    }
  };

  var onMarkerClick = function (e) {
    removeFocus();
    var marker = this;

    if (!infoWindow) {
      infoWindow = new google.maps.InfoWindow({});
      google.maps.event.addListener(infoWindow, "domready", function () {
        $(".tabs").tabs({
        });
      });
    }

    // Need to push null tasks to preserve the order
    var tasks = [];
    if (marker.airport.documents) {
      tasks.push(null);
    } else {
      tasks.push(searchEAD({
        Authority: marker.airport.ICAO.substr(0, 2),
        Name: "*" + marker.airport.ICAO + "*",
        Type: "Charts",
      }));
    }
    if (marker.airport.metar) {
      tasks.push(null);
    } else {
      tasks.push(getMETAR({
        HoursBeforeNow: 6,
        MostRecent: "Each",
        Stations: [marker.airport.ICAO]
      }));
    }

    $.when.apply($, tasks)
    .done(function (documents, metar) {
      if (documents)
        marker.airport.documents = documents;
      if (metar)
        marker.airport.metar = metar;

      delete marker.airport.error;

    }).fail(function (error) {
      marker.airport.error = error;
      console.log(error);

    }).then(function () {
      if (infoWindow.airport !== marker.airport) {
        infoWindow.airport = marker.airport;
        infoWindow.setContent($("#infoWindow").render(marker.airport));
      }
      infoWindow.open(map, marker);

    });
  };

  var onMapBoundsChanged = function (e) {
    // Don't do anything if the info window is displayed
    if (infoWindow && infoWindow.getMap())
      return;

    // Remove all the existing markers
    markerCluster.clearMarkers();

    // Don't show airports when zoomed out past 5
    if (map.getZoom() < 5)
      return;

    // Find all the airports that fit in the current bounds
    var bounds = map.getBounds();
    var list = $.grep(airports, function (item) {
      return bounds.contains(item.Position);
    });
    list = getFilteredAirports(list);

    var markers = [];
    $.each(list, function (index, item) {
      marker = new google.maps.Marker({
        position: item.Position,
        title: item.ICAO + ": " + item.Name,
        label: item.ICAO.substr(2, 1),
        airport: item
      });
      marker.addListener("click", onMarkerClick);
      markers.push(marker);
    });

    var options = {
      imagePath: 'images/m'
    };

    markerCluster.addMarkers(markers);
  };

  var populateCountries = function () {
    var q = $.Deferred();

    var countries = [];
    $.each(airports, function (index, item) {
      if (countries.indexOf(item.Country) === -1)
        countries.push(item.Country);
    });
    countries.sort();

    var select = $("#country");
    select.find("option").remove();
    $("<option>", {
      value: "",
      text: "Any Country"
    }).appendTo(select);

    $.each(countries, function (index, item) {
      $("<option>", {
        value: item,
        text: item
      })
      .appendTo(select);
    });

    // Use the previous selected country, but don't immediately zoom to it
    select.val(window.localStorage.getItem("country") || "");
    select.on("change", onCountryChanged);

    q.resolve();
    return q.promise();
  }

  var removeFocus = function () {
    $(":focus").blur();
  };

  var searchEAD = function (params) {
    var data = {
      Authority: "EG",
      AuthorityType: "Any",
      Language: "Any",
      Type: "Any",
      PartAIRAC: "Any",
      AIRAC: "Any",
      Name: "",
      Title: ""
    };

    data = $.extend(data, params);

    var q = $.Deferred();

    $.ajax(
      "../api/EAD/Search",
      {
        method: "POST",
        traditional: true,
        data: data
      }
    )
    .done(function (response, status, request) {
      $.each(response, function (index, item) {
        if (item.Effective) {
          item.Effective = new Date(item.Effective);
        }
      });
      q.resolve(response);
    })
    .fail(function (error) {
      q.reject(error);
    });

    return q;
  };

  initialize();

  $.views.converters({
    date: function (val) {
      if (val instanceof Date) {
        return val.toLocaleDateString();
      } else if (val) {
        return val;
      } else {
        return "-";
      }
    },
    datetime: function (val) {
      if (val instanceof Date) {
        return val.toLocaleString();
      } else if (val) {
        return val;
      } else {
        return "-";
      }
    },
    json: function (val) {
      return JSON.stringify(val, null, 2);
    },
    lat: function (val) {
      return Dms.toLat(val, "dm", 2);
    },
    lon: function (val) {
      return Dms.toLon(val, "dm", 2);
    },
    number: function (val) {
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  });
});
</script>
  
</body>
</html>
